<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/enter_contact.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Entrez le nom de celui que vous voulez contacter</h1>

    <form action="/chat" method="post">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="text" name="contact_username" placeholder="Username du contact" required>
        <button type="submit">Chat</button>
    </form>
    
</body>
</html>
