<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="static/css/chat.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <style>
        #countdown {
            display: none; /* Masquer initialement le compte à rebours */
        }
    </style>

    <script>
        let role;
        let countdownInterval;
        let isBlocked = true;
        let countdownValue = 21;
        let devinMessageCount = 0;

        function initializeChat() {
            // Fonction pour vérifier si l'utilisateur actuel est le devineur
            function isDevineur() {
                return role === 'devineur';
            }

            // Fonction pour vérifier si l'utilisateur actuel est le pote
            function isPote() {
                return role === 'pote';
            }

            // Fonction pour vérifier si l'utilisateur actuel est le bot
            function isBot() {
                return role === 'bot';
            }

            // Fonction pour actualiser les messages affichés dans le chat
            function refreshMessages() {
                fetch('/get_messages')
                    .then(response => response.json())
                    .then(data => {
                        const messages = data.messages;
                        const chatMessages = document.getElementById('chat-messages');
                        chatMessages.innerHTML = ''; // Effacer les messages précédents

                        messages.forEach(message => {
                            const messageElement = document.createElement('div');
                            messageElement.textContent = `${message.author}: ${message.content}`;
                            chatMessages.appendChild(messageElement);
                        });

                        // Exécuter la logique de vérification des nouveaux messages pour chaque nouveau message
                        checkForNewMessages();
                    });
            }

            // Fonction pour envoyer un message
            function sendMessage(message) {
                fetch('/send_message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: `message=${encodeURIComponent(message)}`
                });
            }

            // Fonction pour envoyer un message "BOT"
            function sendBotMessage() {
                fetch('/send_message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'message=BOT' // Envoyer "BOT" directement comme message
                });
            }

            // Fonction pour envoyer un message système
            function sendSystemMessage() {
                fetch('/send_message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'message=SYSTEME' // Envoyer "SYSTEME" directement comme message
                });
            }

            // Fonction pour envoyer un message qui révèle notre rôle
            function sendRoleMessage() {
                fetch('/send_message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'message=REVELATION_ROLE'
                });
            }

            // Fonction pour bloquer l'interface
            function blockInterface() {
                document.getElementById('message-input').disabled = true;
                document.getElementById('message-form').querySelector('button[type="submit"]').disabled = true;
                isBlocked = true; // Mettre à jour l'état de blocage
            }

            // Fonction pour débloquer l'interface
            function unblockInterface() {
                if (isBlocked) {
                    document.getElementById('message-input').disabled = false;
                    document.getElementById('message-form').querySelector('button[type="submit"]').disabled = false;
                    isBlocked = false; // Mettre à jour l'état de blocage
                }
            }

            // Fonction pour gérer le flux de messages entre le devineur et l'autre
            function messageFlow() {
                if (isBot()) {
                    // Démarrer le compte à rebours de 21 secondes pour l'envoi du message
                    countdownInterval = setInterval(function () {
                        countdownValue--;

                        // Mettre à jour l'affichage du compte à rebours
                        document.getElementById('countdown').textContent = countdownValue;

                        if (countdownValue === 0) {
                            clearInterval(countdownInterval); // Arrêter le compte à rebours
                            sendBotMessage();
                        }
                    }, 1000); // Mettre à jour le compte à rebours toutes les secondes

                    // Afficher le compte à rebours pour le bot
                    document.getElementById('countdown').style.display = 'block';
                } else {
                    // Récupérer le champ de saisie du message
                    const messageInput = document.getElementById('message-input');

                    // Ajouter un gestionnaire d'événement pour le formulaire d'envoi de message
                    document.getElementById('message-form').addEventListener('submit', function (event) {
                        event.preventDefault(); // Empêcher le comportement par défaut du formulaire

                        // Récupérer le contenu du message
                        const messageContent = messageInput.value.trim();

                        blockInterface();

                        // Si le rôle est "pote", bloquer l'interface pendant l'envoi du message
                        if (isPote()) {
                            // Démarrer le compte à rebours de 21 secondes pour l'envoi du message
                            countdownInterval = setInterval(function () {
                                countdownValue--;

                                // Mettre à jour l'affichage du compte à rebours
                                document.getElementById('countdown').textContent = countdownValue;

                                if (countdownValue === 0) {
                                    clearInterval(countdownInterval); // Arrêter le compte à rebours
                                    sendMessage(messageContent);
                                }
                            }, 1000);

                            // Afficher le compte à rebours pour le pote
                            document.getElementById('countdown').style.display = 'block';
                        } else if (isDevineur()) {
                            // Envoyer le message immédiatement
                            sendMessage(messageContent);
                            // Incrémenter le compteur de messages du devin
                            devinMessageCount++;
                        }

                        // Effacer le champ de saisie après l'envoi du message
                        messageInput.value = '';
                    });
                }
            }

            // Fonction pour vérifier si de nouveaux messages ont été reçus
            function checkForNewMessages() {
                fetch('/check_new_messages', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        const newMessagesReceived = data.newMessagesReceived;
                        if (newMessagesReceived) {
                            // Remettre le compte à rebours à 21 lors de la réception d'un nouveau message
                            countdownValue = 21;

                            const lastMessage = data.lastMessage;

                            // Exécuter la logique de déblocage de l'interface lors de la réception d'un nouveau message
                            if (isDevineur() && devinMessageCount < 10) {
                                unblockInterface();
                                messageFlow(lastMessage);
                            }

                            if (isBot() && devinMessageCount <= 10) {
                                messageFlow(lastMessage);
                            }

                            if (isPote() && devinMessageCount <= 10) {
                                unblockInterface();
                                messageFlow(lastMessage);
                            }

                            // Si le devin a atteint la limite de 10 messages, appeler la fonction système
                            if (isDevineur() && devinMessageCount === 10) {
                                sendSystemMessage();
                                unblockInterface();
                                messageFlow(lastMessage);
                            }

                            // Révéler le rôle quand le devin s'est prononcé
                            if ((isPote() || isBot()) && devinMessageCount === 11) {
                                sendRoleMessage();
                            }
                            
                        }
                    });
            }

            // Appeler la fonction de vérification des nouveaux messages à intervalles réguliers
            setInterval(checkForNewMessages, 3000); // Vérifier toutes les 3 secondes

            // Initialiser l'actualisation des messages
            refreshMessages();
            setInterval(refreshMessages, 1000); // Actualiser les messages toutes les secondes

            // Démarrer le flux de messages
            if (isBot() || isPote()) {
                blockInterface();
            }
            if (isDevineur()) {
                messageFlow();
                hideAllResponses(); // Masquer le compte à rebours pour le devineur
            }
        }

        function hideAllResponses() {
            var divs = document.getElementsByTagName('div');
            for (var i = divs.length; i--;) {
                var div = divs[i];
                if (div.id === 'countdown') {
                    div.style.display = 'none';
                }
            }
        }

        function checkForAutoMessage() {
            fetch('/get_messages')
                .then(response => response.json())
                .then(data => {
                    const messages = data.messages;
                    const autoMessage = messages.find(message => message.content === "Premier arrivé (devineur).");
                    if (autoMessage) {
                        fetch('/save_ordre_arrivee', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            body: 'pos=2'
                        })
                            .then(response => {
                                if (response.ok) {
                                    response.text().then(newRole => {
                                        role = "bot";
                                        showPopup(role);
                                        initializeChat();
                                    });
                                }
                            });
                    } else {
                        fetch('/save_ordre_arrivee', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            body: 'pos=1'
                        })
                            .then(response => {
                                if (response.ok) {
                                    response.text().then(newRole => {
                                        role = newRole;
                                        sendAutomaticMessage();
                                        showPopup(role);
                                        initializeChat();
                                    });
                                }
                            });
                    }
                });
        }

        function showPopup(role) {
            alert("Vous êtes le " + role + ".");
        }

        function sendAutomaticMessage() {
            const defaultMessage = "Premier arrivé (devineur).";
            fetch('/send_message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `message=${encodeURIComponent(defaultMessage)}`
            });
        }

        // Événement lorsque la page est chargée
        window.addEventListener('load', checkForAutoMessage);
    </script>
</head>

<body>
    <h2>Vous êtes en chat avec {{ contact_username }}... OU UN ROBOT QUI SAIT ?!</h2>
    <div id="chat-messages">
        <!-- Messages -->
    </div>
    <form id="message-form">
        <div id="countdown">21</div> <!-- Afficher le compte à rebours -->
        <input type="text" id="message-input" placeholder="Tapez votre message">
        <button type="submit">Envoyer</button>
    </form>
</body>

</html>